#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans              &trans            &trans          &trans          &trans                              &trans       &trans           &trans           &trans             &trans       &trans
&trans  &kp Q               &kp L             &kp U           &kp MINUS       &kp BACKSPACE                       &kp F        &kp W            &kp R            &kp Y              &kp P        &trans
&trans  &mt LEFT_CONTROL E  &mt LEFT_SHIFT I  &mt LEFT_ALT A  &mt LEFT_GUI O  &kp COMMA      &trans      &trans   &kp K        &mt RIGHT_GUI T  &mt RIGHT_ALT N  &mt RIGHT_SHIFT S  &mt RCTRL H  &trans
&trans  &kp Z               &kp X             &kp C           &kp V           &kp PERIOD     &bt BT_NXT  &kp RET  &kp G        &kp D            &kp M            &kp J              &kp B        &trans
&trans  &kp ESCAPE          &to 3             &kp LANGUAGE_2  &kp TAB         &kp SPACE      &kp ENTER   &mo 1    &lt 2 LANG1  &trans           &trans           &mkp LCLK          &mkp RCLK    &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans     &trans        &trans        &trans        &trans                  &trans    &trans     &trans     &trans     &trans       &trans
&trans  &trans     &kp NUMBER_7  &kp N8        &kp N9        &trans                  &trans    &trans     &trans     &trans     &kp PERCENT  &trans
&trans  &kp COLON  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans  &trans  &trans    &mkp LCLK  &mkp RCLK  &trans     &trans       &trans
&trans  &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans  &trans  &kp PLUS  &kp MINUS  &kp ASTRK  &kp SLASH  &trans       &trans
&trans  &trans     &trans        &trans        &trans        &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans       &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans            &trans             &trans         &trans            &trans                             &trans     &trans      &trans     &trans     &trans         &trans
&trans  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp UNDER      &td0              &td1                               &trans     &trans      &trans     &kp CARET  &kp PERCENT    &trans
&trans  &kp EQUAL         &trans             &kp AMPERSAND  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans  &trans  &kp ASTRK  &kp APOS    &kp TILDE  &kp SLASH  &kp HASH       &trans
&trans  &trans            &kp SEMI           &kp COLON      &kp PIPE          &trans             &trans  &trans  &trans     &kp DOLLAR  &kp AT     &trans     &kp BACKSLASH  &trans
&trans  &trans            &trans             &trans         &kp EXCL          &kp QUESTION       &trans  &trans  &kp TAB    &trans      &trans     &trans     &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans   &trans        &trans        &trans                      &trans            &trans     &trans         &trans     &trans      &trans
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp HOME          &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp ESCAPE  &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10     &trans  &trans  &kp LEFT          &kp DOWN   &kp UP_ARROW   &kp RIGHT  &kp TAB     &trans
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT    &kp GRAVE      &kp TILDE  &kp PIPE    &trans
&trans  &trans   &trans   &trans        &kp DELETE    &kp TAB     &trans  &trans  &trans            &trans     &trans         &trans     &trans      &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
